<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>TU AUTOR FAVORITO UWU</title>
</head>
<body class="bg-purple-500">
    <br>
    <br>
    <br>    
    <div class="my-3 text-4xl text-center text-white">
        <b><h1 class="bg-purple-700">TU AUTOR FAVORITO</h1></b>
    </div>

 
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>